<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Search Vehicle Owner</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-grid>
  
      <ion-row>
        <ion-col>
          <ion-label>Car Plate Number</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder='Vehicle#'></ion-input>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-label>Employee Number</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder='EmpNo'></ion-input>
        </ion-col>
      </ion-row>
  
    </ion-grid>
    <ion-button>Search</ion-button>
  </ion-content>
